<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date %logger{15} - %message%n%xException{10}</pattern>
        </encoder>
    </appender>

    <appender name="splunk" class="io.policarp.splunk.logback.SplunkHttpEventCollectorLogbackAppender">

        <splunkUrl>htttp://somewhere.com/</splunkUrl>
        <buffer>1</buffer>

        <layout class="io.policarp.splunk.logback.SplunkHttpEventCollectorJsonLayout">
            <source>testing-sean</source>
            <custom>user=${USER}</custom>
        </layout>

        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>

    </appender>

    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="splunk"/>
    </root>

</configuration>
