<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date %logger{15} - %message%n%xException{10}</pattern>
        </encoder>
    </appender>

    <appender name="splunk" class="io.policarp.logback.SplunkHecAppender">

        <!--use start-local-splunk.sh-->
        <splunkUrl>http://localhost:8088/services/collector/event</splunkUrl>
        <token>A106745E-0F59-40FE-AF3A-4BAE49759791</token>
        <buffer>10</buffer>
        <flush>10</flush>

        <layout class="io.policarp.logback.SplunkHecJsonLayout">
            <source>testing-sean</source>
            <custom>user=${USER}</custom>
        </layout>

        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>

    </appender>

    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="splunk"/>
    </root>

</configuration>
